body {
    background-color: rgb(255, 192, 203);
}

#SIMON {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:center ;
    height: 1000px;
    width: 1000px;
    margin: 250px;
}

h2 {
    color: gold;
}

.color{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.redButton{
    display: flex;
    /* justify-content: flex-start; */
    height: 400px;
    width:400px;
    margin: -10px;
    background-color: rgb(60, 0, 0);
    cursor: pointer;
    border: 3px solid pink;
    
}

.blueButton{
    height: 400px;
    width: 400px;
    margin: -10px;
    background-color: rgb(0, 0, 60);
    cursor: pointer;
    border: 3px solid rgb(255, 192, 203);
   
}

.greenButton{
    height: 400px;
    width: 400px;
    margin: -10px;
    background-color: rgb(0, 60, 0);
    cursor: pointer;
    border: 3px solid pink;
    
}

.yellowButton{
    height: 400px;
    width: 400px;
    margin: -10px;
    background-color: rgb(60, 60, 0);
    cursor: pointer;
    border: 3px solid pink;
    
}

.START {
    display:flex;
    justify-content: center;
    flex-direction: row;
    margin: 20px;
    border: 3px solid rgb(175, 0, 67);
    border-radius: 2px;
    height: 40px;
    width: 90px;
    align-content: center;
}

.score{
    display: flex;
    height: 100px;
    width: 600px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    align-content: center;
}